*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 14px;
}
@font-face{
    font-family:"Roboto-Regular",'Open Sans', sans-serif;
    src: url('resources/font/Roboto-Regular.ttf') format("truetype");
    font-weight: normal;
    font-display: swap;
}
.banner{
    background-image: url("/images/bg-slide-1.jpg");
}


.crossbar-exam{
    height: 2px;
}

.title-exam{
    margin-bottom: 30px
}
.container{
    width: 1170px;
}

.caret{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.dropdown:hover .sub-list{
    display: block;
}
.item-detail-span{
    margin-top: -5px;
}
