*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 14px;
}
@font-face{
    font-family:"Roboto-Regular";
    src: url('resources/font/Roboto-Regular.ttf') format("truetype");
    font-weight: normal;
    font-display: swap;
}
.banner{
    background-image: url("/images/bg-slide-1.jpg");
}

.main-homepage--content{

}

.crossbar-exam{
    background-color: #e8e8e8;
    height: 2px;
    width: 100%;
    margin-top: 10px;
}

.color-bar{
    background-color: #f00;
    width: 60px;
    height: 100%;
}

.title-exam{
    margin-bottom: 30px
}

.container{
    width: 1200px;
}

.caret{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.dropdown:hover .sub-list{
    display: block;
}
.item-detail-span{
    margin-top: -5px;
}
